<div class="site-footer">
  <div class="container">
    <form
      action="https://buttondown.com/api/emails/embed-subscribe/zat"
      method="post"
      class="embeddable-buttondown-form"
    >
      <input type="email" name="email" id="bd-email" placeholder="Join the email list" />
      <input type="submit" value="Confirm" />
    </form>
  </div>
</div>

<form
  action="https://buttondown.com/api/emails/embed-subscribe/zat"
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com/refer/zat" target="_blank">
      Powered by Buttondown.
    </a>
  </p>
</form>